<!DOCTYPE html>
<html>
<head>
  <title>Birds</title>
  <!-- http://furtive.co/ -->
  <link rel="stylesheet" type="text/css" href="/bower/furtive/css/furtive.min.css">
</head>
<body>
  <div class="measure p2">
    <h1>Flock #{{params.id}}</h1>
    <h3>public - /flock/{{params.id}}</h3>

    <div
      id="pusher"
      data-channel="{{CHANNEL}}"
      data-key="{{PUSHER_KEY}}"></div>

    <script src="/bower/pusher/dist/pusher.min.js"></script>
    <script>
      var config = document.getElementById('pusher').dataset;

      var pusher = new Pusher(config.key);
      var channel = pusher.subscribe(config.channel);

      channel.bind('test_event', function(data) {
        document.getElementById('pusher').innerText = data.message;
      });

      // generate a time offset within a poisson distribution
      // http://preshing.com/20111007/how-to-generate-random-timings-for-a-poisson-process/
      function nextTime(rate) {
        return -Math.log(1 - Math.random()) / rate;
      }

      function schedule(track, f, until){
        var next = nextTime(1/f) * 1000;
        console.log("scheduling in " + next + " millis");

        if(next + Date.now() < until) {
          setTimeout(function(){
            play(track);
            schedule(track, f, until);
          }, next);
        }
      }

      function play(track){
        if(track.type == 'bird'){
          playBird(track.data);
        } else {
          console.log("track type '%s' not supported", track.type)
        }
      }

      channel.bind('play', function(data) {

        // default to 15 second max duration
        var until = Date.now() + 15000;

        data.tracks.forEach(function(track) {
          
          var f = parseInt(track.frequency, 10);
          if(f){
            schedule(track, f, until);
          } else {
            play(track);
          }

        })

        // playBird(data.id);
      });


      channel.bind('bird', function(data) {
        playBird(data.id);
      });

      // player
      window.AudioContext = window.AudioContext||window.webkitAudioContext;
      context = new AudioContext();

      var buffers = {};
      function playBird(xc_id){
        xc_id = xc_id.replace('XC','');

        var url = '/proxy/'+xc_id+'/download';

        if(typeof(buffers[url]) == 'undefined'){
          buffers[url] = null;

          var req = new XMLHttpRequest();
          req.open('GET', url, true);
          req.responseType = 'arraybuffer';

          // Decode asynchronously
          req.onload = function() {
            context.decodeAudioData(req.response, function(buffer) {
              buffers[url] = buffer;

              playBuffer(buffer);
            }, function(error){
              console.error(error);
            });
          };
          req.send();
        }

        if(buffers[url])
          playBuffer(buffers[url]);

        function playBuffer(buffer){
          var source = context.createBufferSource(); // creates a sound source
          source.buffer = buffer;                    // tell the source which sound to play
          source.connect(context.destination);       // connect the source to the context's destination (the speakers)
          source.start(0);                           // play the source now
        }
      };


    </script>
  </div>
</body>
</html>