<!DOCTYPE html>
<html>
<head>
  <title>Birds</title>
  <!-- http://furtive.co/ -->
  <link rel="stylesheet" type="text/css" href="/bower/furtive/css/furtive.min.css">
</head>
<body>
  <div class="measure p2">
    <h1>Flock #{{params.id}}</h1>
    <h3>public - /flock/{{params.id}}</h3>

    <div
      id="pusher"
      data-channel="{{CHANNEL}}"
      data-key="{{PUSHER_KEY}}"></div>

    <script src="/bower/audiocontext-polyfill/audiocontext-polyfill.js"></script>
    <script src="/bower/pusher/dist/pusher.min.js"></script>
    <script>

      var config = document.getElementById('pusher').dataset;

      var pusher = new Pusher(config.key);
      var channel = pusher.subscribe(config.channel);


      var scheduled = [];


      // generate a time offset within a poisson distribution
      // http://preshing.com/20111007/how-to-generate-random-timings-for-a-poisson-process/
      function nextTime(rate) {
        return -Math.log(1 - Math.random()) / rate;
      }

      function schedule(track, f, until){
        var next = nextTime(1/f) * 1000;
        console.log("scheduling in " + next + " millis");

        if(next + Date.now() < until) {
          scheduled.push(setTimeout(function(){
            play(track);
            schedule(track, f, until);
          }, next));
        }
      }

      function play(track){
        switch(track.type){

          case 'bird':
            playBird(track.data);
            break;

          case 'synth':
            var args = track.data.split(' ').map(parseFloat);
            note.apply(null, args);
            break;

          default:
            console.log(track);
            console.log("track type '%s' not supported", track.type)

        }
      }

      channel.bind('play', function(data) {

        while(scheduled.length){
          clearTimeout(scheduled.pop());
        }

        // default to 15 second max duration
        var until = Date.now() + 15000;

        (data.tracks||[]).forEach(function(track) {
          
          var f = parseInt(track.frequency, 10);
          if(f){
            schedule(track, f, until);
          } else {
            play(track);
          }

        });
      });



      // web audio stuff


      var context = new AudioContext();

      var buffers = {};
      function playBird(xc_id){

        xc_id = xc_id.replace('XC','');

        var url = '/proxy/'+xc_id+'/download';

        if(typeof(buffers[url]) == 'undefined'){
          buffers[url] = null;

          var req = new XMLHttpRequest();
          req.open('GET', url, true);
          req.responseType = 'arraybuffer';

          // Decode asynchronously
          req.onload = function() {
            context.decodeAudioData(req.response, function(buffer) {
              buffers[url] = buffer;

              playBuffer(buffer);
            }, function(error){
              console.error(error);
            });
          };
          req.send();
        }

        if(buffers[url])
          playBuffer(buffers[url]);

        function playBuffer(buffer){
          var source = context.createBufferSource();
          source.buffer = buffer;
          source.connect(context.destination);
          source.start(0);
        }
      };


      function note(frequency, duration, volume){
        duration = duration || 2;
        volume = volume || 0.9

        var zero = 0.0001;// FF doesn't like 0


        var vco             = context.createOscillator();
        vco.frequency.value = Math.round(frequency);

        // VCA
        var vca        = context.createGain();
        vca.gain.value = zero;

        // Envelope
        now = context.currentTime;
        vca.gain.cancelScheduledValues(now);
        vca.gain.exponentialRampToValueAtTime(volume, now + (duration/4));
        vca.gain.exponentialRampToValueAtTime(zero, now + (duration/2))
        vca.gain.setTargetAtTime(zero, now + duration, zero)


        // Patchbay
        vco.connect(vca);
        vca.connect(context.destination);

        vco.start(0);


        setTimeout(function(){
          vco.stop(0)
          vco.disconnect();
          vca.disconnect();
        },duration * 1500)

      }


    </script>
  </div>
</body>
</html>