<!DOCTYPE html>
<html>
<head>
  <title>Birds</title>
  <!-- http://furtive.co/ -->
  <link rel="stylesheet" type="text/css" href="/bower/furtive/css/furtive.min.css">
</head>
<body>
  <div class="measure p2">
    <h1>▶ /flock/{{params.id}}</h3>

    <form method="post">
      <div class="grd">
        <div class="grd-row">
          <div class="grd-row-col-2-6">

            <label>bird
              <input name="bird">
            </label>

          </div>
        </div>
      </div>
    </form>

    <h4>examples</h4>

    <template repeat="{{bird in birds}}">
      <h4>{{bird}}</h4>
      <p><a href="#" class="btn btn--blue">▶</a></p>
      <hr />
    </template>

  </div>
</body>
</html>