<!DOCTYPE html>
<html>
<head>
  <title>Birds</title>
  <!-- http://furtive.co/ -->
  <link rel="stylesheet" type="text/css" href="/bower/furtive/css/furtive.min.css">
</head>
<body>
  <div class="measure p2">
    <h1>▶ /flock/{{params.id}}</h1>

    <div id="tracks"></div>

    <script type="text/javascript" src="/bower/reqwest/reqwest.js"></script>
    <script type="text/javascript" src="/bower/ractive/ractive.js"></script>

    <script type="text/javascript">

      var storeKey = location.pathname;
      var ractive;

      reqwest('/_track.html')
      .then(function(template){
        ractive = new Ractive({
          el: '#tracks',
          template: template,
          data: {
            tracks: [{type: "bird", data: "XC99072", offset: "0", frequency: "15"}]
          }
        });

        var stored = localStorage.getItem(storeKey);
        if(stored) try{ractive.set('tracks', JSON.parse(stored))} catch(e){}

        ractive.on('add-track', function(){
          ractive.push('tracks', {})
        })

        ractive.on('submit', function(){
          var tracks = ractive.get('tracks');

          reqwest({
            url: document.location.pathname,
            method:'post', 
            data: {
              tracks: tracks
            }
          })

          localStorage.setItem(storeKey, JSON.stringify(tracks));
        })


        ractive.on('stop', function(){
          reqwest({
            url: document.location.pathname,
            method:'post', 
            data: {
              tracks: []
            }
          })
        })

        ractive.on('reload', function(){
          reqwest({
            url: document.location.pathname,
            method:'post', 
            data: {
              reload:true
            }
          })
        })

      })


    </script>

  </div>
</body>
</html>